@geel: #e7c876;
@donkergroen: #2d371c;
@lichtgrijs: #e4e7e4;
@donkergrijs: #98988e;
/*@tusseningrijs: #dfe0df;*/
@oranje: #e48122;


@tusseningrijs: #dcdfdc;

@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400);
@import url(https://fonts.googleapis.com/css?family=Orbitron:400);
/*@import url(https://fonts.googleapis.com/css?family=Courgette);
@import url(https://fonts.googleapis.com/css?family=Parisienne);
@import url(https://fonts.googleapis.com/css?family=Italianno);
@import url(https://fonts.googleapis.com/css?family=Petit+Formal+Script);*/

em{
    font-style: italic;
}
strong{
    font-weight: 400;
}

p{
    margin-bottom: 2em;

}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1{
    line-height: auto;
    margin: .5em 0 0;
    font-variant: small-caps;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1px;
}
h2{
    line-height: auto;
    margin: .5em 0 1em;
    font-variant: small-caps;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 1px;
}
.page-node-9 h3{
    text-align: center;
    font-variant: small-caps;
    margin-top: -1em;
}
a{
    text-decoration: none;

}



body{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: light;
    font-size: 14px;
    background: #ffffff url('../images/kasteel_bg_1600.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
#page-wrapper{
    position: relative;
    font-size: 1em;
    line-height: 1.7em;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    #page{
        width: 100%;
        float: left;
        background-color: rgba(255, 255, 255, .7);
        display: block;
    }
}

#header{
    /*position: fixed;*/
    /*top: .5em;*/
   /* top: 0;*/
    /*position: relative;*/
    width: 100%;
    max-width: 960px;
    margin: 0 auto .5em;
    float: left;
    margin: 1em 0 0;
    display: block;
    /*z-index: 10;*/
   /* height: 9.7em;*/
    #sub-header{
        width: 100%;
        float: left;
        background-color: white;
    }

    a#logo{

        width: 200px;
        height: 110px;

        float: left;
        margin-left: 10px;
    }
    #name-and-slogan{
        margin: 3em 170px 0 200px;
        text-align: center;


        a{
            font-variant: small-caps;
            font-size: 1.4em;
            line-height: 1em;
            color: black;
            font-weight: 300;
        }
    }
    #navigation{
        clear: both;
        width: 100%;
        max-width: 960px;
        position: relative;
        margin: 0 auto;
        float: left;
        margin: 18px 0 18px;
        background-color: none;
        letter-spacing: .1em;

        display: block;
        z-index: 11;
        h2{
            display: none;
        }
        ul{
            background-color: white;
            margin: 0;
            padding: 0;
            line-height: 1em;
            width: 100%;
            list-style: none ;
            position: relative;
            font-size: 1em;
            display: inline-block;
            float: left;
        }
        li{
            float: left;
            width: 25%;
            margin: 0;
            padding: .2em 0;
            text-align: center;
            list-style: none ;
        }
        li.active-trail{
            background-color: @oranje;
            a{
                color: @donkergroen;
            }
        }
        a{
            line-height: 1em;
            margin: 0;
            padding: 0;
            font-variant: small-caps;
            font-size: 1em;
            color: @donkergrijs;
        }

        a:hover{
            color: @donkergroen;
        }
        #block-menu-menu-inschrijven, #block-menu-menu-info {
            background-color: @oranje;
            border-top: 2px solid white;
            width: 100%;
            float: left;
            .contextual-links-wrapper{
                display: none;
            }
            .content{
                width: 90%;
                margin: 0 auto;
            }
            ul{
                line-height: 1em;
                font-size: .8em;
                background-color: @oranje;
                padding: .1em 0 .2em;
            }
            a{
                color: white;

            }
            a.active-trail{
               color: @donkergroen;
            }
            a:hover{
                color: @donkergroen;
            }
        }
    }
}
.page-inschrijven #main-wrapper #main #content #block-system-main{
    padding-right: 280px;
    .content{
        padding-right: 0;
    }
}
.page-user-orders .action-links{
    display: none;
}
#main-wrapper{
    display: block;
    float: left;
    width: 100%;
/*    max-height: 600px;
*/    margin: 0;
    #main{
        margin: 0;
        #content{
            width: 100%;
            div.status, div.tabs{
                background-color: white;
            }
            .region.region-content{
                display: block;
                width: 100%;
                float: left;
                /*background-color: rgba(255, 255, 255, .7);*/
                a{
                    text-decoration: none;
                    color: @oranje;
                }
                a:hover{
                    color: @donkergrijs;
                }
                #block-commerce-cart-cart{
                    background-color: white;
                    display: block;
                    width: 210px;
                    float: right;
                    margin: 4em 3em 1em 1em;
                    border: 1px solid @oranje;
                    border-radius: 5px;
                    padding: 0 3px;
                    h2{
                        text-align: center;
                        display: block;
                    }
                    .content{
                        width: 100%;
                        margin: 0;
                        float: right;
                    }
                    table{
                        width: 100%;
                        tr.even, tr.odd{
                            background-color: white;
                            border: none;
                        }
                    }
                    .view-footer {
                        ul.links.inline{

                            margin: 0;
                            padding: 0;
                            text-align: center;
                            display: block;
                            margin-top: .5em;
                            li{
                                width: 100%;
                            }
                        }
                    }
                    .line-item-summary {
                        margin-bottom: 0;
                        text-align: center;
                        .line-item-total{
                           background-color: @lichtgrijs;
                           margin: .5em 0 .3em;
                            .line-item-total-raw{
                                width: auto;
                                float: right;
                            }
                            .line-item-total-label{
                                margin-left: 2em;
                            }
                        }
                    }
                }
            }
            #block-system-main{
                width: auto;
                background-color: white;
                margin: 0;
                .content{
                    padding: 4em 4em 2em;
                    display: block;
                }
                p{
                    margin-bottom: 2em;
                }
                h1{
                    display: none;
                }
                .view-bestellingen-per-artikel-test{
                    .ingeschreven-lijst{
                        width: 100%;
                        clear: both;
                        h3{
                            line-height: auto;
                            margin: .5em 0 1em;
                            font-variant: small-caps;
                            font-size: 1em;
                            font-weight: 300;
                            letter-spacing: 1px;
                        }
                        ol{
                            list-style-type: decimal;
                            list-style-position: inside;
                            padding-bottom: 2em;
                            li{
                                .views-field{
                                    display: inline-block;
                                    margin-right: 1em;
                                }
                                .views-field-commerce-customer-address-name-line{
                                    margin-left: 2em;
                                }
                            }
                        }
                    }
                }
                .node-welkom table{
                    margin: 1em auto;
                    width: auto !important;

                    background-color: @lichtgrijs;
                    th, td{
                        vertical-align: top !important;

                        display: table-cell;
                        font-size: .9em  !important;
                        line-height: 1.3em;
                        padding:  .5em ;
                        width: auto;
                        margin: 0;
                    }
                    thead tr th{
                        font-variant: small-caps;
                        padding-top:1em;
                        width: auto;
                        margin: 0;
                        border-bottom: 1px solid white;
                        text-align: center;
                    }
                }
                .node-welkom  h2{
                    text-align: center;
                }
                .node-starttijden  .field-item {
                    clear: both;
                    img{
                    width: 16px;
                    float: left;
                    margin: 0 1em 1em 0;
                    }
                }
                table.views-table{
                    float: none;
                }
                .view-mode-customer table.views-table{
                    width: 100%;
                }

                .view-fotogallerij{
                    width: 450px;
                    margin: 1em auto;
                    .item-list{
                        margin-bottom: 1em;
                        background-color: @lichtgrijs;
                        padding: 1em 0;
                        h3{
                            text-align: center;

                            display: block;
                            margin-bottom: 1em;
                        }
                    }
                    ul li.views-row{
                        display: inline-block;
                        width: 150px;
                        img{
                            width: 100px;
                            margin: 0 auto;
                        }
                        .views-field-title a{
                            text-align: center;
                            color: black;
                            display: block;
                        }
                    }
                }
                #formulieren{
                    h2.pane-title{
                        display: none;
                    }
                    .views-row{
                        border-top: 1px solid @lichtgrijs;
                    }
                    /*.view-tornooien .views-row-1{
                        border-top: none;
                    }*/
                    .node-allerlei{
                        margin: 0 0 1em;
                        float: left;
                        p{
                            margin-bottom: 1em;
                        }
                    }
                    .add-to-mandje{
                        p{
                            margin-bottom: 0;
                        }
                        h3{
                            display: none;
                        }
                        .views-field-title{
                            margin: .5em 0 1em;
                            font-variant: small-caps;
                            font-size: 1em;
                            font-weight: 300;
                            letter-spacing: 1px;
                        }
                        .views-field-body, .field-name-body{
                            margin-bottom: 1em;
                        }
                        .views-row, .node-hotel-display{
                            clear: left;
                            margin-bottom: 3em;
                            width: 100%;
                            float: left;
                        }
                        .views-field-commerce-price, .commerce-product-field-commerce-price{
                            width: 15%;
                            float: left;
                            margin: 0;
                        }
                        .views-field-add-to-cart-form, .commerce-add-to-cart{
                            float: right;
                            width: 80%;
                            margin: 0;
                            .form-item, .form-actions {
                                margin: 0;
                            }
                            .form-item-quantity{
                                width: auto;
                                float: left;
                                margin-right: 4em;
                                label{
                                    width: auto;
                                    float: left;
                                    margin-right: 1em;
                                }
                                input{
                                    float: left;
                                    width: 30px;
                                    text-align: center;
                                }
                            }
                            input.form-submit, .button-brabantse{
                                width: auto;
                                background-color: @oranje;
                                float: right;
                                padding: 1px 10px;
                                border: 1px solid @oranje;
                                border-radius: 10px;
                                font-size: .8em;
                                color: white;
                                line-height: 1em;
                                a{
                                    color: white;
                                }
                                a:hover{
                                    color: black;
                                }
                            }
                            input.form-submit:hover{
                                color: black;
                            }

                            .form-type-select{
                                width: auto;
                                float: left;
                                margin: 0;
                                line-height: 1.5em;
                            }
                        }
                    }
                    #hotel-boeken{
                        width: 100%;
                        float: left;
                        border-top: 1px solid @lichtgrijs;
                        .content{
                            padding: 1em 0 0;
                        }
                        h2{
                            margin: .5em 0 1em;
                            font-variant: small-caps;
                            font-size: 1em;
                            font-weight: 300;
                            letter-spacing: 1px;
                            display: block;
                        }
                    }
                }
                .view-commerce-cart-form {
                    width: 100%;
                    margin: 1em 0;
                    border: 1px solid @oranje;
                    border-radius: 20px;
                    #views-form-commerce-cart-form-default{
                        width: 90%;
                        margin: 4em auto;
                    }
                    table.views-table{
                        width: 100%;
                        td.views-field-commerce-total{
                            text-align: right;

                        }
                        th{
                            padding-bottom: 1em;
                        }
                        th.views-field-commerce-total{
                            text-align: right;
                        }
                    }
                    #edit-submit:hover, #edit-checkout:hover, .delete-line-item:hover{
                        color: @oranje;
                    }
                    #edit-checkout{
                        margin-left: 1em;
                    }
                }
                .view-commerce-user-orders table{
                    width: 100%;
                }
                .commerce-order-commerce-order{
                    width: 100%;
                    margin: 1em 0;
                    padding: 1em 0;
                    border: 1px solid @oranje;
                    border-radius: 20px;
                    .field{
                        width: 90%;
                        margin: 0 auto;
                    }
                    .field-label{
                        display: none;
                    }
                    .field-items .field-label{
                        display: block;
                    }
                    .field-type-commerce-customer-profile-reference{
                        margin-top: 2em;
                    }

                }
                #commerce-checkout-form-checkout{
                    .fieldset-legend{
                        font-variant: small-caps;
                        font-size: 1em;
                        font-weight: 300;
                        letter-spacing: 1px;
                    }
                    #edit-cart-contents{
                        width: 70%;
                        margin: 1em auto;
                        border: 1px solid @oranje;
                        border-radius: 20px;
                        margin: 1em auto 3em;
                        table.views-table{
                            width: 100%;
                        }
                        tr.component-type-commerce-price-formatted-amount{
                            border-bottom: none;
                        }
                        .view-commerce-cart-summary{
                            width: 95%;
                            margin: 2em auto;
                        }
                        table.commerce-price-formatted-components{
                            background-color: white;
                        }
                        .component-type-commerce-price-formatted-amount{
                            background-color: white;
                        }
                    }
                    fieldset{
                        border: 1px solid @oranje;
                        padding: 1em;
                        margin-bottom: 2em;
                    }
                    .form-item{
                        clear: both;
                        float: left;
                        margin-bottom: 0;
                        label{
                            float: left;
                            width: 150px;
                            margin-right: 4em;
                        }
                        select{
                            float: left;
                            width: auto;
                        }
                        .description{
                            clear: both;
                            float: left;
                        }
                        .form-radios{
                            display: inline-block;
                            margin-top: 0;
                            margin-bottom: 0;
                            .form-item{
                                float: left;
                                clear: none;
                                margin: 0 3em 0 0;
                                line-height: 1em;
                                label{
                                    width: auto;
                                    margin-right: .5em;
                                }
                                input.form-radio{
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                    .description{
                        line-height: 1.3em;
                        font-style: italic;
                    }

                    #edit-commerce-payment{
                        label{
                            width: auto;
                            margin-right: 0;
                        }
                        img{
                            float: left;
                            margin: -.5em .5em  0 0;
                            width: auto;
                        }
                        #edit-commerce-payment-payment-method-paypal-wpscommerce-payment-paypal-wps{
                            float: left;
                            width: auto;
                            margin-right: 2em;
                            height: 1.5em;
                        }
                        label.option{
                            float: right;
                            width: 95%;

                        }
                        .commerce-paypal-icons{
                            float: left;
                            display: inline-block;
                            margin-top: 1em;
                            .label{
                                float: left;
                                margin-right: 1em;
                                width: auto;
                                padding: 0;
                                line-height: 1.5em;
                            }
                        }
                    }
                    fieldset#edit-buttons{
                        border: none;
                        width: 100%;
                        .fieldset-wrapper{
                            width: 360px;
                            margin: 2em auto;
                        }
                        #edit-continue, #edit-cancel{
                            width: auto;
                            background-color: @oranje;
                            padding: 8px 15px;
                            border: 1px solid @oranje;
                            border-radius: 10px;
                            font-size: .8em;
                            color: white;
                            line-height: 1em;
                        }
                        #edit-continue{
                            margin-right: 2em;
                        }
                        #edit-cancel{
                            margin-left: 2em;
                        }
                        #edit-continue:hover, #edit-cancel:hover{
                            color: black;
                        }
                    }
                }

            }
            #commerce-checkout-form-complete legend .fieldset-legend{
                    display: none;
                }
            #block-block-1.contactinfo{
                background-color: white;


                margin: 0;
                padding: 1em 0 .7em;
                display: inline-block;
                width: 100%;
                a{
                    display: block;
                    height: 36px;
                    float: left;
                    margin: 0;
                }
                a.mailto{
                    width: 40%;
                    line-height: 2.4em;
                    text-align: center;
                }
                a.facebook, a.twitter{
                    width: 30%;

                    background-repeat: no-repeat;
                    background-position: center center;

                }
                a.facebook{
                    background-image: url("../images/facebook.png");
                }
                a.facebook:hover{
                    background-image: url("../images/facebook_hover.png");
                }
                a.twitter{
                    background-image: url("../images/twitter.png");
                }
                a.twitter:hover{
                    background-image: url("../images/twitter_hover.png");
                }
            }
            #block-views-sponsor-block-1, #sponsors{
                margin-bottom: 1em;
                width: 100%;
                clear: both;
                .views-row{
                    display: inline-block;
                    background-color: white;
                    margin: 0 .2em 0 0;
                    padding: 0;
                    width: 160px;
                    height: 100px;
                    border: 1px solid @lichtgrijs;
                    a{
                        width: 160px;
                        height: 100px;
                        display: table-cell;
                        vertical-align: middle;
                    }
                    img{
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                .hoofdsponsors, .sponsors{
                    margin-bottom: 4em;
                }
                .pane-node{
                    h2{
                        margin-bottom: 0.5em;
                    }
                    .node-sympathisanten .field-item{
                        margin: 0 ;
                        p{
                            margin-bottom: 0;
                            line-height: 2em;
                        }
                    }
                }
            }
            #block-views-sponsor-block-1{
                margin-top: 1em;
                h2{
                    display: none;
                }
            }
        }
    }
}
#footer{

}

@media screen and (max-width:840px) and (min-width: 481px){

    #header #name-and-slogan{
            margin: 3.5em 3% 0 200px;
            text-align: right;
            a {
                font-size: 1.2em;
            }
        }
    #main-wrapper #main #content #block-system-main .content {
        padding: 2em ;

    }
    #main-wrapper #main #content .region.region-content #block-commerce-cart-cart{
        margin: 2em 1em 1em;
    }
    .page-inschrijven #main-wrapper #main #content #block-system-main {
        padding-right: 250px;
    }

}
