/*@tusseningrijs: #dfe0df;*/
@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400);
@import url(https://fonts.googleapis.com/css?family=Orbitron:400);
/*@import url(https://fonts.googleapis.com/css?family=Courgette);
@import url(https://fonts.googleapis.com/css?family=Parisienne);
@import url(https://fonts.googleapis.com/css?family=Italianno);
@import url(https://fonts.googleapis.com/css?family=Petit+Formal+Script);*/
em {
  font-style: italic;
}
strong {
  font-weight: 400;
}
p {
  margin-bottom: 2em;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1 {
  line-height: auto;
  margin: .5em 0 0;
  font-variant: small-caps;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 1px;
}
h2 {
  line-height: auto;
  margin: .5em 0 1em;
  font-variant: small-caps;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 1px;
}
.page-node-9 h3 {
  text-align: center;
  font-variant: small-caps;
  margin-top: -1em;
}
a {
  text-decoration: none;
}
body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: light;
  font-size: 14px;
  background: #ffffff url('../images/kasteel_bg_1600.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#page-wrapper {
  position: relative;
  font-size: 1em;
  line-height: 1.7em;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
#page-wrapper #page {
  width: 100%;
  float: left;
  background-color: rgba(255, 255, 255, 0.7);
  display: block;
}
#header {
  /*position: fixed;*/
  /*top: .5em;*/
  /* top: 0;*/
  /*position: relative;*/
  width: 100%;
  max-width: 960px;
  margin: 0 auto .5em;
  float: left;
  margin: 1em 0 0;
  display: block;
  /*z-index: 10;*/
  /* height: 9.7em;*/
}
#header #sub-header {
  width: 100%;
  float: left;
  background-color: white;
}
#header a#logo {
  width: 200px;
  height: 110px;
  float: left;
  margin-left: 10px;
}
#header #name-and-slogan {
  margin: 3em 170px 0 200px;
  text-align: center;
}
#header #name-and-slogan a {
  font-variant: small-caps;
  font-size: 1.4em;
  line-height: 1em;
  color: black;
  font-weight: 300;
}
#header #navigation {
  clear: both;
  width: 100%;
  max-width: 960px;
  position: relative;
  margin: 0 auto;
  float: left;
  margin: 18px 0 18px;
  background-color: none;
  letter-spacing: .1em;
  display: block;
  z-index: 11;
}
#header #navigation h2 {
  display: none;
}
#header #navigation ul {
  background-color: white;
  margin: 0;
  padding: 0;
  line-height: 1em;
  width: 100%;
  list-style: none ;
  position: relative;
  font-size: 1em;
  display: inline-block;
  float: left;
}
#header #navigation li {
  float: left;
  width: 25%;
  margin: 0;
  padding: .2em 0;
  text-align: center;
  list-style: none ;
}
#header #navigation li.active-trail {
  background-color: #e48122;
}
#header #navigation li.active-trail a {
  color: #2d371c;
}
#header #navigation a {
  line-height: 1em;
  margin: 0;
  padding: 0;
  font-variant: small-caps;
  font-size: 1em;
  color: #98988e;
}
#header #navigation a:hover {
  color: #2d371c;
}
#header #navigation #block-menu-menu-inschrijven,
#header #navigation #block-menu-menu-info {
  background-color: #e48122;
  border-top: 2px solid white;
  width: 100%;
  float: left;
}
#header #navigation #block-menu-menu-inschrijven .contextual-links-wrapper,
#header #navigation #block-menu-menu-info .contextual-links-wrapper {
  display: none;
}
#header #navigation #block-menu-menu-inschrijven .content,
#header #navigation #block-menu-menu-info .content {
  width: 90%;
  margin: 0 auto;
}
#header #navigation #block-menu-menu-inschrijven ul,
#header #navigation #block-menu-menu-info ul {
  line-height: 1em;
  font-size: .8em;
  background-color: #e48122;
  padding: .1em 0 .2em;
}
#header #navigation #block-menu-menu-inschrijven a,
#header #navigation #block-menu-menu-info a {
  color: white;
}
#header #navigation #block-menu-menu-inschrijven a.active-trail,
#header #navigation #block-menu-menu-info a.active-trail {
  color: #2d371c;
}
#header #navigation #block-menu-menu-inschrijven a:hover,
#header #navigation #block-menu-menu-info a:hover {
  color: #2d371c;
}
.page-inschrijven #main-wrapper #main #content #block-system-main {
  padding-right: 280px;
}
.page-inschrijven #main-wrapper #main #content #block-system-main .content {
  padding-right: 0;
}
.page-user-orders .action-links {
  display: none;
}
#main-wrapper {
  display: block;
  float: left;
  width: 100%;
  /*    max-height: 600px;
*/
  margin: 0;
}
#main-wrapper #main {
  margin: 0;
}
#main-wrapper #main #content {
  width: 100%;
}
#main-wrapper #main #content div.status,
#main-wrapper #main #content div.tabs {
  background-color: white;
}
#main-wrapper #main #content .region.region-content {
  display: block;
  width: 100%;
  float: left;
  /*background-color: rgba(255, 255, 255, .7);*/
}
#main-wrapper #main #content .region.region-content a {
  text-decoration: none;
  color: #e48122;
}
#main-wrapper #main #content .region.region-content a:hover {
  color: #98988e;
}
#main-wrapper #main #content .region.region-content #block-commerce-cart-cart {
  background-color: white;
  display: block;
  width: 210px;
  float: right;
  margin: 4em 3em 1em 1em;
  border: 1px solid #e48122;
  border-radius: 5px;
  padding: 0 3px;
}
#main-wrapper #main #content .region.region-content #block-commerce-cart-cart h2 {
  text-align: center;
  display: block;
}
#main-wrapper #main #content .region.region-content #block-commerce-cart-cart .content {
  width: 100%;
  margin: 0;
  float: right;
}
#main-wrapper #main #content .region.region-content #block-commerce-cart-cart table {
  width: 100%;
}
#main-wrapper #main #content .region.region-content #block-commerce-cart-cart table tr.even,
#main-wrapper #main #content .region.region-content #block-commerce-cart-cart table tr.odd {
  background-color: white;
  border: none;
}
#main-wrapper #main #content .region.region-content #block-commerce-cart-cart .view-footer ul.links.inline {
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  margin-top: .5em;
}
#main-wrapper #main #content .region.region-content #block-commerce-cart-cart .view-footer ul.links.inline li {
  width: 100%;
}
#main-wrapper #main #content .region.region-content #block-commerce-cart-cart .line-item-summary {
  margin-bottom: 0;
  text-align: center;
}
#main-wrapper #main #content .region.region-content #block-commerce-cart-cart .line-item-summary .line-item-total {
  background-color: #e4e7e4;
  margin: .5em 0 .3em;
}
#main-wrapper #main #content .region.region-content #block-commerce-cart-cart .line-item-summary .line-item-total .line-item-total-raw {
  width: auto;
  float: right;
}
#main-wrapper #main #content .region.region-content #block-commerce-cart-cart .line-item-summary .line-item-total .line-item-total-label {
  margin-left: 2em;
}
#main-wrapper #main #content #block-system-main {
  width: auto;
  background-color: white;
  margin: 0;
}
#main-wrapper #main #content #block-system-main .content {
  padding: 4em 4em 2em;
  display: block;
}
#main-wrapper #main #content #block-system-main p {
  margin-bottom: 2em;
}
#main-wrapper #main #content #block-system-main h1 {
  display: none;
}
#main-wrapper #main #content #block-system-main .view-bestellingen-per-artikel-test .ingeschreven-lijst {
  width: 100%;
  clear: both;
}
#main-wrapper #main #content #block-system-main .view-bestellingen-per-artikel-test .ingeschreven-lijst h3 {
  line-height: auto;
  margin: .5em 0 1em;
  font-variant: small-caps;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 1px;
}
#main-wrapper #main #content #block-system-main .view-bestellingen-per-artikel-test .ingeschreven-lijst ol {
  list-style-type: decimal;
  list-style-position: inside;
  padding-bottom: 2em;
}
#main-wrapper #main #content #block-system-main .view-bestellingen-per-artikel-test .ingeschreven-lijst ol li .views-field {
  display: inline-block;
  margin-right: 1em;
}
#main-wrapper #main #content #block-system-main .view-bestellingen-per-artikel-test .ingeschreven-lijst ol li .views-field-commerce-customer-address-name-line {
  margin-left: 2em;
}
#main-wrapper #main #content #block-system-main .node-welkom table {
  margin: 1em auto;
  width: auto !important;
  background-color: #e4e7e4;
}
#main-wrapper #main #content #block-system-main .node-welkom table th,
#main-wrapper #main #content #block-system-main .node-welkom table td {
  vertical-align: top !important;
  display: table-cell;
  font-size: .9em  !important;
  line-height: 1.3em;
  padding: .5em ;
  width: auto;
  margin: 0;
}
#main-wrapper #main #content #block-system-main .node-welkom table thead tr th {
  font-variant: small-caps;
  padding-top: 1em;
  width: auto;
  margin: 0;
  border-bottom: 1px solid white;
  text-align: center;
}
#main-wrapper #main #content #block-system-main .node-welkom h2 {
  text-align: center;
}
#main-wrapper #main #content #block-system-main .node-starttijden .field-item {
  clear: both;
}
#main-wrapper #main #content #block-system-main .node-starttijden .field-item img {
  width: 16px;
  float: left;
  margin: 0 1em 1em 0;
}
#main-wrapper #main #content #block-system-main table.views-table {
  float: none;
}
#main-wrapper #main #content #block-system-main .view-mode-customer table.views-table {
  width: 100%;
}
#main-wrapper #main #content #block-system-main .view-fotogallerij {
  width: 450px;
  margin: 1em auto;
}
#main-wrapper #main #content #block-system-main .view-fotogallerij .item-list {
  margin-bottom: 1em;
  background-color: #e4e7e4;
  padding: 1em 0;
}
#main-wrapper #main #content #block-system-main .view-fotogallerij .item-list h3 {
  text-align: center;
  display: block;
  margin-bottom: 1em;
}
#main-wrapper #main #content #block-system-main .view-fotogallerij ul li.views-row {
  display: inline-block;
  width: 150px;
}
#main-wrapper #main #content #block-system-main .view-fotogallerij ul li.views-row img {
  width: 100px;
  margin: 0 auto;
}
#main-wrapper #main #content #block-system-main .view-fotogallerij ul li.views-row .views-field-title a {
  text-align: center;
  color: black;
  display: block;
}
#main-wrapper #main #content #block-system-main #formulieren {
  /*.view-tornooien .views-row-1{
                        border-top: none;
                    }*/
}
#main-wrapper #main #content #block-system-main #formulieren h2.pane-title {
  display: none;
}
#main-wrapper #main #content #block-system-main #formulieren .views-row {
  border-top: 1px solid #e4e7e4;
}
#main-wrapper #main #content #block-system-main #formulieren .node-allerlei {
  margin: 0 0 1em;
  float: left;
}
#main-wrapper #main #content #block-system-main #formulieren .node-allerlei p {
  margin-bottom: 1em;
}
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje p {
  margin-bottom: 0;
}
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje h3 {
  display: none;
}
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .views-field-title {
  margin: .5em 0 1em;
  font-variant: small-caps;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 1px;
}
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .views-field-body,
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .field-name-body {
  margin-bottom: 1em;
}
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .views-row,
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .node-hotel-display {
  clear: left;
  margin-bottom: 3em;
  width: 100%;
  float: left;
}
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .views-field-commerce-price,
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .commerce-product-field-commerce-price {
  width: 15%;
  float: left;
  margin: 0;
}
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .views-field-add-to-cart-form,
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .commerce-add-to-cart {
  float: right;
  width: 80%;
  margin: 0;
}
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .views-field-add-to-cart-form .form-item,
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .commerce-add-to-cart .form-item,
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .views-field-add-to-cart-form .form-actions,
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .commerce-add-to-cart .form-actions {
  margin: 0;
}
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .views-field-add-to-cart-form .form-item-quantity,
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .commerce-add-to-cart .form-item-quantity {
  width: auto;
  float: left;
  margin-right: 4em;
}
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .views-field-add-to-cart-form .form-item-quantity label,
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .commerce-add-to-cart .form-item-quantity label {
  width: auto;
  float: left;
  margin-right: 1em;
}
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .views-field-add-to-cart-form .form-item-quantity input,
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .commerce-add-to-cart .form-item-quantity input {
  float: left;
  width: 30px;
  text-align: center;
}
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .views-field-add-to-cart-form input.form-submit,
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .commerce-add-to-cart input.form-submit,
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .views-field-add-to-cart-form .button-brabantse,
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .commerce-add-to-cart .button-brabantse {
  width: auto;
  background-color: #e48122;
  float: right;
  padding: 1px 10px;
  border: 1px solid #e48122;
  border-radius: 10px;
  font-size: .8em;
  color: white;
  line-height: 1em;
}
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .views-field-add-to-cart-form input.form-submit a,
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .commerce-add-to-cart input.form-submit a,
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .views-field-add-to-cart-form .button-brabantse a,
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .commerce-add-to-cart .button-brabantse a {
  color: white;
}
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .views-field-add-to-cart-form input.form-submit a:hover,
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .commerce-add-to-cart input.form-submit a:hover,
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .views-field-add-to-cart-form .button-brabantse a:hover,
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .commerce-add-to-cart .button-brabantse a:hover {
  color: black;
}
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .views-field-add-to-cart-form input.form-submit:hover,
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .commerce-add-to-cart input.form-submit:hover {
  color: black;
}
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .views-field-add-to-cart-form .form-type-select,
#main-wrapper #main #content #block-system-main #formulieren .add-to-mandje .commerce-add-to-cart .form-type-select {
  width: auto;
  float: left;
  margin: 0;
  line-height: 1.5em;
}
#main-wrapper #main #content #block-system-main #formulieren #hotel-boeken {
  width: 100%;
  float: left;
  border-top: 1px solid #e4e7e4;
}
#main-wrapper #main #content #block-system-main #formulieren #hotel-boeken .content {
  padding: 1em 0 0;
}
#main-wrapper #main #content #block-system-main #formulieren #hotel-boeken h2 {
  margin: .5em 0 1em;
  font-variant: small-caps;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}
#main-wrapper #main #content #block-system-main .view-commerce-cart-form {
  width: 100%;
  margin: 1em 0;
  border: 1px solid #e48122;
  border-radius: 20px;
}
#main-wrapper #main #content #block-system-main .view-commerce-cart-form #views-form-commerce-cart-form-default {
  width: 90%;
  margin: 4em auto;
}
#main-wrapper #main #content #block-system-main .view-commerce-cart-form table.views-table {
  width: 100%;
}
#main-wrapper #main #content #block-system-main .view-commerce-cart-form table.views-table td.views-field-commerce-total {
  text-align: right;
}
#main-wrapper #main #content #block-system-main .view-commerce-cart-form table.views-table th {
  padding-bottom: 1em;
}
#main-wrapper #main #content #block-system-main .view-commerce-cart-form table.views-table th.views-field-commerce-total {
  text-align: right;
}
#main-wrapper #main #content #block-system-main .view-commerce-cart-form #edit-submit:hover,
#main-wrapper #main #content #block-system-main .view-commerce-cart-form #edit-checkout:hover,
#main-wrapper #main #content #block-system-main .view-commerce-cart-form .delete-line-item:hover {
  color: #e48122;
}
#main-wrapper #main #content #block-system-main .view-commerce-cart-form #edit-checkout {
  margin-left: 1em;
}
#main-wrapper #main #content #block-system-main .view-commerce-user-orders table {
  width: 100%;
}
#main-wrapper #main #content #block-system-main .commerce-order-commerce-order {
  width: 100%;
  margin: 1em 0;
  padding: 1em 0;
  border: 1px solid #e48122;
  border-radius: 20px;
}
#main-wrapper #main #content #block-system-main .commerce-order-commerce-order .field {
  width: 90%;
  margin: 0 auto;
}
#main-wrapper #main #content #block-system-main .commerce-order-commerce-order .field-label {
  display: none;
}
#main-wrapper #main #content #block-system-main .commerce-order-commerce-order .field-items .field-label {
  display: block;
}
#main-wrapper #main #content #block-system-main .commerce-order-commerce-order .field-type-commerce-customer-profile-reference {
  margin-top: 2em;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout .fieldset-legend {
  font-variant: small-caps;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 1px;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout #edit-cart-contents {
  width: 70%;
  margin: 1em auto;
  border: 1px solid #e48122;
  border-radius: 20px;
  margin: 1em auto 3em;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout #edit-cart-contents table.views-table {
  width: 100%;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout #edit-cart-contents tr.component-type-commerce-price-formatted-amount {
  border-bottom: none;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout #edit-cart-contents .view-commerce-cart-summary {
  width: 95%;
  margin: 2em auto;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout #edit-cart-contents table.commerce-price-formatted-components {
  background-color: white;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout #edit-cart-contents .component-type-commerce-price-formatted-amount {
  background-color: white;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout fieldset {
  border: 1px solid #e48122;
  padding: 1em;
  margin-bottom: 2em;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout .form-item {
  clear: both;
  float: left;
  margin-bottom: 0;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout .form-item label {
  float: left;
  width: 150px;
  margin-right: 4em;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout .form-item select {
  float: left;
  width: auto;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout .form-item .description {
  clear: both;
  float: left;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout .form-item .form-radios {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout .form-item .form-radios .form-item {
  float: left;
  clear: none;
  margin: 0 3em 0 0;
  line-height: 1em;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout .form-item .form-radios .form-item label {
  width: auto;
  margin-right: .5em;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout .form-item .form-radios .form-item input.form-radio {
  margin-top: 0;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout .description {
  line-height: 1.3em;
  font-style: italic;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout #edit-commerce-payment label {
  width: auto;
  margin-right: 0;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout #edit-commerce-payment img {
  float: left;
  margin: -0.5em 0.5em 0 0;
  width: auto;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout #edit-commerce-payment #edit-commerce-payment-payment-method-paypal-wpscommerce-payment-paypal-wps {
  float: left;
  width: auto;
  margin-right: 2em;
  height: 1.5em;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout #edit-commerce-payment label.option {
  float: right;
  width: 95%;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout #edit-commerce-payment .commerce-paypal-icons {
  float: left;
  display: inline-block;
  margin-top: 1em;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout #edit-commerce-payment .commerce-paypal-icons .label {
  float: left;
  margin-right: 1em;
  width: auto;
  padding: 0;
  line-height: 1.5em;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout fieldset#edit-buttons {
  border: none;
  width: 100%;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout fieldset#edit-buttons .fieldset-wrapper {
  width: 360px;
  margin: 2em auto;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout fieldset#edit-buttons #edit-continue,
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout fieldset#edit-buttons #edit-cancel {
  width: auto;
  background-color: #e48122;
  padding: 8px 15px;
  border: 1px solid #e48122;
  border-radius: 10px;
  font-size: .8em;
  color: white;
  line-height: 1em;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout fieldset#edit-buttons #edit-continue {
  margin-right: 2em;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout fieldset#edit-buttons #edit-cancel {
  margin-left: 2em;
}
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout fieldset#edit-buttons #edit-continue:hover,
#main-wrapper #main #content #block-system-main #commerce-checkout-form-checkout fieldset#edit-buttons #edit-cancel:hover {
  color: black;
}
#main-wrapper #main #content #commerce-checkout-form-complete legend .fieldset-legend {
  display: none;
}
#main-wrapper #main #content #block-block-1.contactinfo {
  background-color: white;
  margin: 0;
  padding: 1em 0 .7em;
  display: inline-block;
  width: 100%;
}
#main-wrapper #main #content #block-block-1.contactinfo a {
  display: block;
  height: 36px;
  float: left;
  margin: 0;
}
#main-wrapper #main #content #block-block-1.contactinfo a.mailto {
  width: 40%;
  line-height: 2.4em;
  text-align: center;
}
#main-wrapper #main #content #block-block-1.contactinfo a.facebook,
#main-wrapper #main #content #block-block-1.contactinfo a.twitter {
  width: 30%;
  background-repeat: no-repeat;
  background-position: center center;
}
#main-wrapper #main #content #block-block-1.contactinfo a.facebook {
  background-image: url("../images/facebook.png");
}
#main-wrapper #main #content #block-block-1.contactinfo a.facebook:hover {
  background-image: url("../images/facebook_hover.png");
}
#main-wrapper #main #content #block-block-1.contactinfo a.twitter {
  background-image: url("../images/twitter.png");
}
#main-wrapper #main #content #block-block-1.contactinfo a.twitter:hover {
  background-image: url("../images/twitter_hover.png");
}
#main-wrapper #main #content #block-views-sponsor-block-1,
#main-wrapper #main #content #sponsors {
  margin-bottom: 1em;
  width: 100%;
  clear: both;
}
#main-wrapper #main #content #block-views-sponsor-block-1 .views-row,
#main-wrapper #main #content #sponsors .views-row {
  display: inline-block;
  background-color: white;
  margin: 0 .2em 0 0;
  padding: 0;
  width: 160px;
  height: 100px;
  border: 1px solid #e4e7e4;
}
#main-wrapper #main #content #block-views-sponsor-block-1 .views-row a,
#main-wrapper #main #content #sponsors .views-row a {
  width: 160px;
  height: 100px;
  display: table-cell;
  vertical-align: middle;
}
#main-wrapper #main #content #block-views-sponsor-block-1 .views-row img,
#main-wrapper #main #content #sponsors .views-row img {
  margin-left: auto;
  margin-right: auto;
}
#main-wrapper #main #content #block-views-sponsor-block-1 .hoofdsponsors,
#main-wrapper #main #content #sponsors .hoofdsponsors,
#main-wrapper #main #content #block-views-sponsor-block-1 .sponsors,
#main-wrapper #main #content #sponsors .sponsors {
  margin-bottom: 4em;
}
#main-wrapper #main #content #block-views-sponsor-block-1 .pane-node h2,
#main-wrapper #main #content #sponsors .pane-node h2 {
  margin-bottom: 0.5em;
}
#main-wrapper #main #content #block-views-sponsor-block-1 .pane-node .node-sympathisanten .field-item,
#main-wrapper #main #content #sponsors .pane-node .node-sympathisanten .field-item {
  margin: 0 ;
}
#main-wrapper #main #content #block-views-sponsor-block-1 .pane-node .node-sympathisanten .field-item p,
#main-wrapper #main #content #sponsors .pane-node .node-sympathisanten .field-item p {
  margin-bottom: 0;
  line-height: 2em;
}
#main-wrapper #main #content #block-views-sponsor-block-1 {
  margin-top: 1em;
}
#main-wrapper #main #content #block-views-sponsor-block-1 h2 {
  display: none;
}
@media screen and (max-width: 840px) and (min-width: 481px) {
  #header #name-and-slogan {
    margin: 3.5em 3% 0 200px;
    text-align: right;
  }
  #header #name-and-slogan a {
    font-size: 1.2em;
  }
  #main-wrapper #main #content #block-system-main .content {
    padding: 2em ;
  }
  #main-wrapper #main #content .region.region-content #block-commerce-cart-cart {
    margin: 2em 1em 1em;
  }
  .page-inschrijven #main-wrapper #main #content #block-system-main {
    padding-right: 250px;
  }
}
